body {
    background-image: url('assets/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
    background: rgb(231, 236, 239);
}

/* Button */

.buttonDesign {
    background-color: transparent;
    border: 1px solid #6096BA;
    box-sizing: border-box;
    color: #000;
    font-family: "Avenir Next LT W01 Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttonDesign:hover,
.buttonDesign:active {
    outline: 0;
}

.buttonDesign:hover {
    background-color: transparent;
    cursor: pointer;
}

.buttonDesign:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
}

.buttonDesign:hover:before {
    background-color: #A3CEF1;
}

@media (min-width: 768px) {
    .button-51 {
        padding: 16px 32px;
    }
}

/* Header */
header {
    background-color: cadetblue;
    padding: 20px;
    text-align: center;
    margin: 10px;
    position: relative;
}

header h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h1 a {
    text-decoration: none;
    color: white;
}

.left {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
}

header div button {
    background-color: cadetblue;
    border: transparent;
    cursor: pointer;
}